
/*  Media Queries  */ 




/* //////////// */
/*    Ipad Screen Size    */

@media screen and (max-width: 812px) {


/* top menu */   
.cutout_circle {
    display: none; 
}

.top_menu {
    grid-template-columns: 60% 13% 1fr 70px; 
    
}

h1 {
    font-size: 5vw; 
}

.menu_button {
    max-width: 9vw;
    width: 9vw;  
    height: 4vw; 
}

.menu_button p {
    font-size: 1.5vw; 
}

.switch {
    width: 20px; 
}

/* first section */

.title_rect {
    position: relative;
    display: flex;
    height: 20vh;
    grid-column: 1/2;
    grid-row: 1/2;
}

}






/* //////////// */
/*    Phone Screen Size    */


@media screen and (max-width: 512px) {


    /* top menu */   

    .menu_button {
        display: none; 
    }

    .cutout_circle {
        display: none; 
    }
    
    .top_menu {
        grid-template-columns: 50% 20% 1fr 30px; 
    }
    
    h1 {
        font-size: 5vw; 
        padding-left: 30px; 
    }
    
    
    .menu_button {
        max-width: 15vw;
        width: 15vw;  
        height: 7vw; 
    }
    
    .menu_button p {
        font-size: 3vw; 
    }
    
    .switch {
        width: 20px;
        display: none;  
    }

    .contact_button {
        display: none; 
    }
    
    /* first section */
    
    .title_rect {
        position: relative;
        display: flex;
        height: 18vh;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    h2 {
        margin-left: 30px;
        font-size: 8vw;
        align-self: center;
        color: var(--dark_gray);
        font-family: "Playfair Display SC", serif;
        padding-top: 3vh; 
        line-height: 100%;
    }

    .and {
        font-size: 18vw; 
        top: 13vmin; 
        left: 52%; 
    }

    /*  Recent Project Section  */

    .round_top_section {
        margin-top: 4vh; 
    }

    .recent_work_grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10vw;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }

    h3 {
        font-size: 9vw;
    }

    .work_box h4 {
        padding: 1.2vw 0.5vw 0.7vw 0.5vw;
        font-size: 5vw;
        font-weight: 600;
    }

    .work_box p {
        font-size: 3.5vw; 
        text-align: justify; 
        padding-top: 1vh; 
    }



    /* Phone Section */

    .phone_section {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 5vmin;
        margin-bottom: 15vmin;
    }

    .phones {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto; 
        margin-left: -12%;
    }

    .phone_section h4 {
        font-size: 6vw; 
        padding-left: 10px; 
    }



    .mobile_text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 97%;
    }

    .mobile_text p {
        padding-left: 10px; 
        font-size: 3.5vw;
        font-weight: 200;
        text-align: justify;
    }

    .mobile_text a {
        font-size: 3vw;
        padding-top: 2vh; 
    }

    /* Design Section */

    .circle_text {
        padding-left: 15px; 
    }

    .circles {
        padding-left: 15px; 
    }

    .case_study {
        font-size: 4vw; 
    }

    /* Contact Section */

    .contact_section {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-top: 5vh;
        padding-bottom: 5vh;
        margin-bottom: 0;
    }

    .contact_text h4 {
        font-size: 8vw;
        font-weight: 300;
        padding-top: 3vh; 
        text-align: center; 
    }

    .info {
        font-size: 3.5vw;
        font-weight: 300;
        padding-bottom: 5vmin;
        text-align: center; 
        padding-top: 1vh; 
    }

    .contact_text a {
        display: block;
        text-decoration: none;
        color: var(--black);
        font-size: 9vw;
        font-weight: 200;
        text-align: center; 
        padding-top: 1vmin;
    }

    #resume {
        display: none; 
    }

    /* footer */

    .footer {
        padding-top: 2vw;
        padding-left: 30px;
        padding-right: 30px;
        grid-template-rows: auto 8vh auto;
        grid-template-columns: 1fr;
    }

    .foot_menu {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 1.5vw;
        width: 100%; 
    }

    .foot_menu a {
        display: inline-block;
        text-decoration: none;
        color: var(--black);
        padding-right: 2vw;
        padding-bottom: 1vw;
        font-size: 3.35vw;
        font-weight: 500;
    }

    .copyright2 {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: end;
        font-size: 2.5vw;
        padding-bottom: 1vw;
    }

    .copyright {
        grid-column: 1/2;
        grid-row: 3/4;
        font-size: 2vw;
        color: var(--gray_to_white);
        padding-right: 0;
        text-align: justify;
        margin-bottom: 3vh; 
    }

    .cat_section {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80% 20%;
        margin-top: 2vh; 
        margin-bottom: 2vh; 
    }

    .cat_section p {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: end; 
        font-size: 6vw;
    }

    .cat_circle {
        position: relative;
        max-width: 30vw;
        width: 30vw;
        height: 30vw;
        align-self: center;
        justify-self: center; 
        margin: auto; 
        grid-column: 1/2;
        grid-row: 1/3;
    }


    /* Project Subpages */
    
    .wayfinding {
        font-size: 2vw; 
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: center; 
        justify-self: end; 
    }

    .banner_image {
        max-width: 180%;
        width: 180%; 
        margin-left: -45%; 
        margin-top: 3vh; 
    }

    .project_title {
        font-size: 6vw;
        padding-top: 20px;
        padding-left: 0px;
    }

    .tags {
        margin-left: 30px;
        padding-top: 1vh;
        margin-bottom: 1vh;
    }

    .tag {
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4vw;
        max-width: 15vw;
        margin-right: 5px;
        font-size: 2.5vw;
    }

    .back_button {
        font-size: 3vw; 
    }

    .process {
        padding-left: 30px;
        margin-top: 10px;
        margin-bottom: 3vh; 
    }

    .project_section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 15vmin;
        box-sizing: border-box;
    }

    .left {
        grid-column: 1/2;
        grid-row: 1/2; 
        text-align: justify; 
    }

    .right {
        grid-column: 1/2;
        grid-row: 1/2; 
        text-align: justify; 
    }

    .right_span {
        grid-column: 1/2;
        grid-row: 2/3; 
    }

    .left_span {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #prototype {
        display: none; 
    }

    .project_section_titles {
        font-weight: 800;
        font-size: 9vw;
        padding-bottom: 1vh;
    }

    .project_section_titles br {
        display: none; 
    }

    .left p {
        padding-right: 0;
        font-size: 3vw; 
    }

    .right p {
        padding: 0; 
        font-size: 3vw; 
    }

    .style_guide {
        display: none; 
    }

}

